# Dependencies
node_modules/

# Next.js
.next/
out/

# Database
*.db
*.db-journal

# Uploads
/uploads/

# Environment
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/

# Misc
.DS_Store
*.log
